config/*
config/staging/*
config/production/*
scripts
logs

# Allow sample configs - make sure they don't contain sensitive data
!config/.gitkeep
!config/staging/.gitkeep
!config/production/.gitkeep
!config/staging/common-variables-staging-sample
!config/staging/form-field-settings-staging-sample

logs/*
!logs/.gitkeep
